main {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

#formularze{
  width: 100px;
  height: 100px;
  background-color: #45a049;
}

section#dodatkowe_inf,
section#niezbedne_inf {
  width: 46%;
  padding: 20px;
  height: 950px;
}

section#dodatkowe_inf {
  float: right;
}

form {
  margin-top: 20px;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #45a049;
}

span.error {
  color: red;
}
